* {
    margin: 0;
    font-size: 12pt;
}

html, body {
    height: 100%;
}

header {
    width: 45%;
    padding: 0 1rem;
    background-color: #af3f3f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header h1 {
    color: #fff;
    font-size: 1.2rem;
}

header nav {
    width: 100%;
}

header nav ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    margin: 0;
    padding: 0;
    float: left;
}

header nav ul li a {
    font-size: 0.9rem;
    color: #fff;
}

section#main {
    margin: 0 8px;
    padding-top: 1rem;
    clear: both;
}