* {
    margin: 0;
    font-size: 12pt;
}

html, body {
    height: 100%;
}

/* ページ全体の囲み */
#content {
    background-color: #fff;
    color: #000;
}

/* 全ページのheader要素 */
header {
    padding: 0 0 0.5rem 1rem;
    overflow: hidden;
    background-color: #af3f3f;
}
header h1 {
    color: #ffc8c8;
    font-size: 1.6rem;
    font-weight: normal;
}
header nav {
    width: 100%;
}
header nav ul {
    padding: 0;
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    margin: 0;
    padding: 0;
    float: left;
}
header nav ul li a {
    font-size: 1.2rem;
    color: #fff;
    margin-right: 8px;
}
header nav ul li a button {
    background-color: #fff;
    color: #000;
}
header nav ul li a button:before,
header nav ul li a button:after {
    content: "　";
}

/* 全ページのボタンのデザイン */
button,
input[type="submit"],
input[type="button"] {
    font-size: 1.2rem;
    border-radius: 8px;
}
/* マウスカーソルが被った時のデザイン */
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #ffa2a2;
    color: #000;
    border-color: #fff;
    font-weight: bold;
}

/* 全ページのmainセクションの設定 */
#main {
    /* border: 1px #f00 solid; */
    clear: both;
}
