@charset "utf-8";

#header_box {
    width: 100%;
    overflow: hidden;
}

#search {
    float: left;
}

#search input[type="text"] {
    margin: 8px;
    font-size: 1.2rem;
}

#search input[type="submit"] {
    width: 6rem;
    font-size: 1.2rem;
}

#register {
    display: inline;
    margin-left: 2rem;
}

#register a {
    vertical-align: middle;
    font-size: 1.2rem;
}


.client_list {
    position: relative;
    width: 100%;
    clear: both;
}

.client {
    position: relative;
    border: #9f9f9f solid;
    border-width: 0 0 1px 0;
    overflow: hidden;
    width: 100%;
} 

.client .no {
    float: left;
    width: 32px;
    top: 50%;
    margin-top: 1em;
    font-size: 1.2rem;
    text-align: center;
}

.client .id {
    width: 32px;
    height: 100%;
    float: left;
    text-align: center;
}

.client .name_box {
    float: left;
    height: 100%;
}

.client .kana {
    font-size: 0.8rem;
}

.client .name {
    font-size: 1.2rem;
}

.client .visit, .client form {
    margin-left: 12px;
    height: 100%;
    vertical-align: middle;
}

.client .visit input[type=submit] {
    width: 180px;
    font-size: 1.2rem;
}
