@charset "utf-8";

#register {
    display: inline;
    margin-left: 2rem;
}
#register a {
    vertical-align: middle;
    font-size: 1.2rem;
}

div#search_box {
    padding: 0.5rem;
    overflow: hidden;
    border-bottom: 3px double #000;
}
#search {
    float: left;
}
#search input[type="text"] {
    margin: 8px;
    font-size: 1.2rem;
}
#search input[type="submit"] {
    width: 6rem;
    font-size: 1.2rem;
}

#delete_box {
    float: left;
}
#delete_box input {
    width: 80px;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 0;
}

#next {
    width: 100%;
    border-bottom: 1px solid #000;
}
#next p {
    font-size: 1.2rem;
}
#next p a:first-child {
    margin-left: 1.5rem;
}
#next p a button {
    margin: 8px 2px;
    border-radius: 50%;
}

#client_list {
    height: 100%;
}
#client_list .client {
    position: relative;
    width: 100%;
    border: #9f9f9f solid;
    border-width: 0 0 1px 0;
    overflow: hidden;
}
#client_list .client label {
    display: block;
    float: left;
    overflow: hidden;
}
#client_list .client .id,
#client_list .client .no {
    position: relative;
    width: 32px;
    height: 48px;
    float: left;
}
#client_list .client .id input {
    position: absolute;
    left: 10px;
    top: 16px;
}
#client_list .client .no {
    width: 48px;
}
#client_list .client .no span {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}
#client_list .client .name_box {
    float: left;
    width: 250px;
    overflow: hidden;
}
#client_list .client .kana {
    font-size: 0.8rem;
}
#client_list .client .name a {
    font-size: 1.2rem;
}
#client_list .client .btn_area {
    float: left;
}
#client_list .client .visit,
#client_list .client .edit {
    margin: 0 4px;
    float: left;
    width: 150px;
}
#client_list .client .edit {
    width: 100px;
}
#client_list .client .visit a,
#client_list .client .edit a {
    position: relative;
    top: 8px;
}
#client_list .client .visit a button,
#client_list .client .edit a button {
        width: 100%;
}
