@charset "utf-8";
body{
    padding-bottom: 100px;
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    clear: both;
}
.center input,select{
    font-size: 30px;
}
.page{
    page-break-before: always; 
    page-break-after: always;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size: 24px;
}
.prev{
    margin: auto;
    text-align: center;
    clear: both;
    margin-top: 200px;
}
#a0{
    margin-top: 30px;
}
.name{
    margin-top: 30px;
    margin-bottom: 30px;
}
.name p{
    font-size: 2rem;
    text-align: center;
}
.rem{
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;    
    margin-left: auto;
    margin-right: auto;
}
.date{
    width: 35%;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu{
    width: 65%;
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type="submit"]{
    margin-bottom: 100px;
}
@page{
    margin: 100px;
    size: auto;
}
@page :first {
    margin-top: 50px;
  }
@media print{
    .noprint{
        display:none;
    }
}
