@charset "utf-8";
.center{
    text-align: center;
    margin: auto;
}
.page{
    page-break-before: always; 
    page-break-after: always;
}
@media print{
    .noprint{
        display:none;
    }
}
